www.vinogradovnikita.ru {
    redir https://vinogradovnikita.ru{uri}
}

vinogradovnikita.ru {
    reverse_proxy app:8000
}

admin.vinogradovnikita.ru {
    reverse_proxy app:8000
}

pgadmin.vinogradovnikita.ru {

    basicauth {
        admin $2a$04$B1lIu6YvkDK23uUAV4Zb.u1UIqG/fAdnp4mYyMtpQZQCBu9WLRf1W
    }
    reverse_proxy pgadmin:80
}