fastapi
uvicorn[standard]
pydantic
sqlalchemy       
asyncpg          
python-dotenv    
asyncpg
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
python-multipart
Jinja2
sqladmin[full]>=0.19.0
wtforms