fastapi
uvicorn[standard]
pydantic
sqlalchemy       
asyncpg          
python-dotenv    
alembic
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
python-multipart
Jinja2
sqladmin[full]>=0.19.0
wtforms
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-zipkin
pyinstrument
httpx